@charset "utf-8";
@import url(../css/common.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ========== visual ========== */
    #visaul{height: 320px;width: 100%;position: relative;}
    #visual img{width: 100%;height: 320px;}
    #visual h1 {
        width: 160px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        padding-top:4px;
        border-top: 3px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size:40px;
        position: absolute;
        top:190px;
        left:45.5%
    }


/* ========== join_box ========== */
    #join_box .inner {width:1200px;height:auto;margin:0 auto;position:relative}
    #join_box .top {width:100%;height:100px;margin:40px 0 80px 0;border-bottom: 1px solid #cecece;;position:relative}
    #join_box .top ul {position:absolute;left:50%;margin-left:-340px}
    #join_box .top li {width:180px;height: 50px;line-height: 50px;;float:left;text-align:left;margin:0 20px;color:#b1b1b1;font-size:16px;text-align: center;}
    #join_box .top li:nth-child(n+2) {font-size:18px;color:#666;border:1px solid #cecece;border-radius: 20px;}
    #join_box .top li:nth-child(1) {font-size:18px;color:#666;font-weight:bold;border:3px solid #1b87d4;border-radius: 20px;}

    #join_box .inner{width: 1200px;margin: 0 auto;}
    #join_box:after {content:'';display:block;clear:both;}
    #join_box h1 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align:center;
    color:#333;
    padding-top:0;
    padding-bottom:10px;
    font-size:30px;
    font-weight:normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    #join_box form label{color:#333;font-size: 14px;font-weight: bold;} 
    #join_box #agree1,#agree2,#agree3,#agree4{width: 17px;height: 17px;}
    #join_box .allagr #all{width: 20px;height: 20px;}
    #join_box form textarea {
        font-family: 'Noto Sans KR', sans-serif;
        width:99%;
        height: 300px;
        margin-top:10px;
        padding:5px;
        border:1px solid #cecece;
        color:#70615e;
        font-size:15px;
        border-radius:4px;
        overflow:hidden;
        overflow-y:scroll;
        resize:none;
        vertical-align:top
    }
    .inputText input{
    border:1px solid #cecece;
    border: 0;
    width:99%;
    height:40px;
    padding:0 20px;
    margin-top:2px;
    font-size: 20px;
    font-weight: bold;
    box-sizing:border-box;  
    }
    #join_box .allagr{
        border:1px solid #cecece;
        background: #f8f8f8;
        width:99%;
        height: 50px;
        border-radius: 20px;
        margin-top: 20px;
        padding: 20px 0 0 10px;
    }
    #join_box .agr1,.agr2,.agr3{margin-top: 30px;padding-left: 8px;}
    #join_box .agr1 label{font-size:18px}
    #join_box .agr2 label{font-size:18px}
    #join_box .agr3 label{font-size:18px}
    #join_box .allagr label{font-size: 19px;padding-left: 10px;}
    #join_box .agrBtn #join{
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    width:50%;
    height:80px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 300px;
    padding-left: 10px;
    text-align: center;
    background: #1a52ae;
    color: #fff;
    border:1px solid #cecece;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    }