
@charset "UTF-8";
@import url(menubar.css); 
@font-face {
font-family: 'Arita-buri-SemiBold';
src: url
('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') 
format('woff');
font-style: normal;
}

/* === 1:1카톡 === */
/* reset */
body::-webkit-scrollbar { display: none; }
/* wrap */
#wrap{width:100%;height:auto;position:relative;}
/* 맨위로 */
#wrap #top {width:120px;height:64px;opacity: 0.8;
line-height:64px;text-align: center;margin-top: 50px;position: fixed;z-index:999;display: none;
border-radius:100px; bottom:30px;right:2%;color:#aaa;font-size:1.4em}
#wrap #top img{width:120px;height:64px;cursor:pointer;}
    

/* === reset === */
html,body{ 
    margin:0; 
    padding: 0; 
    width:100%; 
    height:100%;
    background-color: #f8f4f3;
}
ul,li,ol {list-style:none;}
a {text-decoration:none;}
p {font-family: 'Noto Sans KR';}
fieldset {border:0}
legend {display:none; font-size:0}
.blind {display: none;font-size:0}

#nav{
    height:8%;
    width: 100%;
    background-color:#f8f4f3;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    float: left;
}


/* === header === */
header{width: 100%;height: 8%;display:block;z-index:500}
header #nav h1 {}
header #nav h1 img{
    width: 100px;
    height: 8%;
    margin-top: -23px;
    margin-left: 26px;
}
header #menu_icon{position:absolute;margin: 18px;right:3px;top: 0;}  
header #menu_icon img{width: 26px;height: 20px;z-index:30;}  

.menuContent ul .sub li a{font-size: 22px;}

header #search_toggle{
    position:absolute;
    margin-top: -1px;
    right: 105px;
    top: 0;
    width: 26px;
    height: 26px
}
header #my_icon {position:absolute;margin-top: 16px;right: 110px;top: 0;} 
header:after {clear:both;content:'';display: block;}


/* === search box === */
#search_wrap{position: relative;}
#search_wrap {z-index:5555;height: 50px;display:none;width:100%;}
#search_wrap form {top:0;z-index:10;}
#search_wrap form input[type=search] {
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
-o-appearance:none;
appearance:none;border:none;background:#423836;height:40px;width:100%; opacity: 0.5;border-radius:2px;}
#search_wrap form input[type=search]::placeholder {text-indent:20px;color:#d3d3d3;z-index:10;}
#search_wrap form input[type=image] {position:absolute;right:30px;top:17px;height:20px}
#search_wrap:after {content:'';display:block;clear:both;}
#search_wrap form input {text-align: center;color:#fff;font-weight: bold;}


/* === join2_box === */
#join2_box {background:#f8f4f3}
#join2_box:after {content:'';display:block;clear:both;/*margin-bottom:8px*/} 
#join2_box h1 {
  text-align:center;
  color:#a36d6a;
  padding-top:80px;
  margin-bottom:15px;
  font-size:33px;
  font-weight:normal;
  font-family: 'Cambria Math';
  letter-spacing: 1px;
  text-transform: uppercase;
}
#join2_box p{

  color:#70615e;
  font-size: 11px;
  margin-left: 14px;
} 
.join2Box input{
  background-color: #ede2e1;
  border: 0;
  width:100%;
  height:40px;
  padding:0 20px;
  margin-top:2px;
  font-size: 14px;
  font-weight: bold;
  box-sizing:border-box;  
}
.join2Box #hp,#hp2,#hp3,#hp4{
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
-o-appearance:none;
  width:30.2%;
  height:40px;
  background: #ede2e1;
  border: 0;
  }
.join2Box #bt,#bt2,#bt3{
  width:30.2%;
  height:40px;
  background: #ede2e1;
  border: 0;
}
.join2Box .confirm input{
-moz-appearance:none;
-webkit-appearance:none;
-ms-appearance:none;
-o-appearance:none;
  width:100%;
  height:45px;
  margin-top: 18px;
  text-align: center;
  background: #a36d6a;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* === footer === */
/*footer*/
.box5{padding-top: 100px;}
#footer{
    width: 100%;
    height: 350px;
    background-color: #a36d6a;
    color: #ddd;
    position: absolute;
    padding-bottom: 0;
    font-size: 8px;
}
#footer .inner{position: relative;}
#footer .inner #left{position: absolute;height: 250px;left: 40px;}
#footer #right{position: absolute;right: 40px;top:10px}
